<section class="content">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-7"></div>
    <div class="col-2">
      <div class="box-body">
        <div class="clearfix">
        
         
				  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-center"> <i class="fa fa-plus mr-9"></i>

				  </button>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <div class="box-header with-border">
            <h4 class="box-title">Tasks Overview <small class="subtitle">Pending 10 tasks</small></h4>
           
          </div>
          <div  *ngFor="let item of etape">
          <div class="box-body">
          
            <mat-accordion>
              
             
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                                   
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{item.step_titre}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

         
<form *ngIf="item.etapeType == 'QUIZ'" >
<div class="row">
here QUIZ
  <div class="box">

    <div class="box-body form-element" >
      <input class="form-control input-lg" type="text" placeholder="Little Texte ..">
      
      
    </div>
    <!-- /.box-body -->
    </div>

    <div class="box" >
      <div class="box-body form-element"  >
      <div class="fallback" class="dropzone">
        <input name="file" type="file" multiple />
      </div>
    </div>
    <div class="col-md-12 col-6">
      
      <button style="text-align:left" type="button" class="waves-effect waves-light btn mb-5 bg-gradient-success">success </button>
    </div>
    

      <!-- /.box-body -->
      </div>
    </div>
</form>

<form *ngIf="item.etapeType == 'COUR'" >
  
  </form>



              </mat-expansion-panel>
              
            </mat-accordion>
            
          </div>
        </div>
        </div>
     
      <!-- /.box -->
    </div>
  </div>
</div>

 
</section>
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-center" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Modal title</h5>
			<button type="button" class="close" data-dismiss="modal">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
        <form class="form-horizontal"  [formGroup]="formStep">
          <div class="form-group">
              <label class="col-md-12">titre de lesson</label>
              <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="" formControlName="step_titre" >
              </div>
              <label class="col-md-12">Description de lesson</label>
              <div class="col-md-12">
                  <input type="text" class="form-control" placeholder=""  formControlName="description" >
              </div>
              <label class="col-md-12">nombre des heux</label>
              <div class="col-md-12">
                  <input type="text" class="form-control" placeholder=""  formControlName="nombre_des_heurs" >
              </div>
            
              <div class="col-md-12">
              <div class="form-group" >
                <label>Interested in</label>
                <select class="form-control"  formControlName="etapeType">
                <option value='QUIZ' >QUIZ</option>
                <option  value='COUR'>COURS</option>
                
               
                </select>
              </div>
            </div>
              
            <button type="button" class="btn btn-primary float-right" (click)="addetape()">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
             
            
          </div>
          
          <div class="modal-footer modal-footer-uniform">
            
          
            </div>
      </form>
		  </div>
		 
		</div>
	  </div>
	</div>
  <!-- /.modal -->


