	
  
        
      <header class="main-header">
        <app-header></app-header>
           </header>
           
           <aside class="main-sidebar">
     <app-sidebar></app-sidebar>
           </aside>
         
           <!-- Content Wrapper. Contains page content -->
           <div class="content-wrapper">
               <div class="container-full">
                 <!-- Main content -->
                 <router-outlet></router-outlet>	
                 <!-- /.content -->
               </div>
           </div>
           <!-- /.content-wrapper -->
     
         <!-- ./wrapper -->
             
     
             
             <!-- Page Content overlay -->
             
             
             <!-- Vendor JS -->
      
             
      