<section class="sidebar position-relative">	
    <div class="multinav">
    <div class="multinav-scroll" style="height: 100%;">	
        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Dashboard </li>	
          <li class="">
            <a href="#">
              <i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>       
                     <span>Dashbord</span>
              <span class="pull-right-container">
              </span>
            </a>
          </li>
          <li class="header">GERER COMPTE </li>
          <li class="" >
            <a [routerLink]="['/home/formateur_Apprenant']" >
              <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>       
                     <span>Manage customers</span>
              <span class="pull-right-container">
              </span>
            </a>
         
          </li>
        

          <li class="" >
            <a [routerLink]="['/home/formateur_Apprenant']" >
              <i class="icon-Clipboard-check"><span class="path1"></span><span class="path2"></span></i>       
                     <span>Manage trainer/learner</span>
              <span class="pull-right-container">
              </span>
            </a>

            
          </li>
          <li class="" >
            <a [routerLink]="['/home/profile']" >
              <i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>       
                     <span>Profile</span>
              <span class="pull-right-container">
              </span>
            </a>
         
          </li>
          <li class="header" >GERER FORMATIONS </li>
          <li class="" >
            <a [routerLink]="['/home/formation']" >
              <i class="icon-File"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
              <span>Trainer/learner </span>
              <span class="pull-right-container">
              </span>
            </a>
         
          </li>
        
        
         
  		
        
          
        </ul>
    </div>
  </div>
</section>
